
  <!-- <div class="d-flex justify-content-between">
  <%= form_for @collaborator, url: wiki_collaborators_path, class: 'list-group-item flex-column align-items-start' do |f| %>
    <h5><%= user.name %></h5>
    <%= f.hidden_field :user_id, value: user.id %>
    <%= f.hidden_field :wiki_id, value: wiki.id %>
    <%= f.submit "Select", class: "btn btn-sm btn-primary" %>
    <% end %>
  </div> -->
<div class="form-container">
  <% @users.each do |user| %>
    <% if user != current_user %>
      <div class: 'list-group-item flex-column align-items-start'>
         <%= link_to user.name, user %>
         <%= button_to "Add", user_add_hall_path(user, 1) %>
       </div>
     <% end %>
  <% end %>
</div>
