<div class="form-container">
<h3>New Wiki</h3>
<%= form_for @wiki, url: {action: "create"} do |f| %>
  <div class="form-group">
    <%= f.label "Title" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Title" %>
    <%= f.text_area :body, size: "60x12", class: "form-control" %>
  </div>
  <% if current_user.role != "standard" %>
  <div class="form-group">
    <%= f.label "Private?"%>
    <%= f.check_box :private, class: "form-check-input, ml-1" %>
  </div>
  <% end %>
  <%= f.submit "Create", class: "btn btn-success" %>
<% end %>
</div>
